.section-text{
    padding: 30px 0;
    h2.numbers{
        color: #f3c59c;
        font-family: 'Oswald', sans-serif;
        opacity: 0.5;
        font-size: 135.63px;
        line-height: 130px;
        margin: 0;
        justify-content: end;
    }
    h5{
        font-size: 32px;
        color: #f3c59c;
        font-family: 'Oswald', sans-serif;
        margin: 0 0 40px -30px;
        justify-content: end;
    }
    p{
        color: #f3c59c;
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        font-weight: 300;
        padding: 0 40px;
    }

    &.dark{
        h2.numbers, h5, p{
            color: #274484;
        }
    }

    display: flex;
    @media (max-width: 950px) {
        flex-wrap: wrap;
    }
    h2, h5, p{
        display: flex;
        flex-direction: column;
    }
}